
Projects/Black Friday/IMG
Projects/Black Friday/rsconnect
Projects/BlackFridayAnalysis_cache
Projects/Black Friday/BlackFridayAnalysis_files
Projects/Some datasets
Projects/First analysis/GPDataAnalysis_cache
Projects/First analysis/GPDataAnalysis_files
Projects/Investigation RLMS/First_Science_Investigation_cache
Projects/Investigation RLMS/First_Science_Investigation_files
*.rdb
*.rdx
Projects/Black Friday/BlackFridayAnalysis_cache/html/__packages


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
